.your-forum-blog {
    width: 60%;
    margin: auto;
    min-width: 600px;
    color: #3d41bed4;
}

.box-border {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}